[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "==0.21.2"
sphinx-rtd-theme = "*"
furo = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.13"
