.sidebar-brand-text {
    color: var(--color-sidebar-brand-text);
    font-size: 0;
    overflow-wrap: break-word;
}
.sidebar-drawer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 8cm;
}
